In [75]:
import os
import pandas as pd

In [76]:
INPUT_FOLDER = "raw"
OUTPUT_FOLDER = "preproc"

In [77]:
os.makedirs("data/preproc", exist_ok=True)

In [78]:
datasources = {source for source in os.listdir(f"data/{INPUT_FOLDER}")}
datasources

{'us_balance_quarterly.csv',
 'us_cashflow_quarterly.csv',
 'us_companies.csv',
 'us_income_quarterly.csv',
 'us_industries.csv',
 'us_shareprices_daily.csv'}

#### Table: `us-companies`

In [79]:
key = "us_companies"
data = pd.read_csv(f"data/{INPUT_FOLDER}/{key}.csv")
data.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6098 entries, 0 to 6097
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   SimFinId                       6098 non-null   int64
 1   Company Name                   6025 non-null   object
 2   IndustryId                     5811 non-null   float64
 3   ISIN                           5011 non-null   object
 4   End of financial year (month)  6026 non-null   float64
 5   Number Employees               5343 non-null   float64
 6   Business Summary               5787 non-null   object
 7   Market                         6098 non-null   object
 8   CIK                            6086 non-null   float64
 9   Main Currency                  6098 non-null   object
dtypes: float64(4), int64(1), object(5)
memory usage: 476.5+ KB

In [80]:
data.head()

,SimFinId,Company Name,IndustryId,ISIN,End of financial year (month),Number Employees,Business Summary,Market,CIK,Main Currency
0,45846,AGILENT TECHNOLOGIES INC,106001.0,US00846U1016,10.0,16400.0,Agilent Technologies Inc is engaged in life sc...,us,1090872.0,USD
1,1333027,Li Auto Inc.,NaN,NaN,12.0,NaN,NaN,us,1791706.0,USD
2,367153,Alcoa Corp,110004.0,US0138721065,12.0,12900.0,Alcoa Corp is an integrated aluminum company. ...,us,1675149.0,USD
3,7962652,Ares Acquisition Corporation,104002.0,US0003071083,12.0,NaN,Ares Acquisition Corporation does not have sig...,us,1829432.0,USD
4,11820349,Armada Acquisition Corp. I,104002.0,US04208V1035,9.0,NaN,Armada Acquisition Corp. I focuses on effectin...,us,1844817.0,USD

In [81]:
data['Company Name'].duplicated().sum()

91

In [82]:
data['ISIN'].duplicated().sum()

1087

In [83]:
data['CIK'].duplicated().sum()

86

In [ ]:
data = data[~data['ISIN'].duplicated()]

SimFinId                           0
Company Name                       0
IndustryId                        16
ISIN                               1
End of financial year (month)      0
Number Employees                 304
Business Summary                   9
Market                             0
CIK                                1
Main Currency                      0
dtype: int64

In [90]:
data.isnull().sum()

SimFinId                           0
Company Name                       0
IndustryId                         0
ISIN                               0
End of financial year (month)      0
Number Employees                 304
Business Summary                   9
Market                             0
CIK                                1
Main Currency                      0
dtype: int64

In [88]:
data['IndustryId'].fillna(0, inplace=True)
data['ISIN'].fillna(0, inplace=True)

/var/folders/nl/1mz19h4n1d920hbz6_952lk00000gn/T/ipykernel_6749/3260577247.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['IndustryId'].fillna(0, inplace=True)
/var/folders/nl/1mz19h4n1d920hbz6_952lk00000gn/T/ipykernel_6749/3260577247.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['ISIN'].fillna(0, inplace=True)

In [91]:
data.to_csv(f"data/{OUTPUT_FOLDER}/{key}.csv", index=False)

We have to fill in the unknown company names

In [72]:
key = "us_industries"
data = pd.read_csv(f"data/{INPUT_FOLDER}/{key}.csv")
data.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Industry  74 non-null     object
 1   Sector    74 non-null     object
dtypes: object(2)
memory usage: 1.3+ KB

In [73]:
data.head()

                     Industry       Sector
0         Industrial Products  Industrials
1           Business Services  Industrials
2  Engineering & Construction  Industrials
3            Waste Management  Industrials
4     Industrial Distribution  Industrials