In [26]:
import os
import pandas as pd

In [27]:
INPUT_FOLDER = "raw"
OUTPUT_FOLDER = "preproc"

In [28]:
os.makedirs("data/preproc", exist_ok=True)

In [29]:
datasources = {source for source in os.listdir(f"data/{INPUT_FOLDER}")}
datasources

{'us_balance_quarterly.csv',
 'us_cashflow_quarterly.csv',
 'us_companies.csv',
 'us_income_quarterly.csv',
 'us_industries.csv',
 'us_shareprices_daily.csv'}

#### Table: `us-companies`

In [32]:
key = "us_companies"
data = pd.read_csv(f"data/{INPUT_FOLDER}/{key}.csv")
data.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6098 entries, 0 to 6097
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   SimFinId                       6098 non-null   int64
 1   Company Name                   6025 non-null   object
 2   IndustryId                     5811 non-null   float64
 3   ISIN                           5011 non-null   object
 4   End of financial year (month)  6026 non-null   float64
 5   Number Employees               5343 non-null   float64
 6   Business Summary               5787 non-null   object
 7   Market                         6098 non-null   object
 8   CIK                            6086 non-null   float64
 9   Main Currency                  6098 non-null   object
dtypes: float64(4), int64(1), object(5)
memory usage: 476.5+ KB

In [33]:
data.head()

,SimFinId,Company Name,IndustryId,ISIN,End of financial year (month),Number Employees,Business Summary,Market,CIK,Main Currency
0,45846,AGILENT TECHNOLOGIES INC,106001.0,US00846U1016,10.0,16400.0,Agilent Technologies Inc is engaged in life sc...,us,1090872.0,USD
1,1333027,Li Auto Inc.,NaN,NaN,12.0,NaN,NaN,us,1791706.0,USD
2,367153,Alcoa Corp,110004.0,US0138721065,12.0,12900.0,Alcoa Corp is an integrated aluminum company. ...,us,1675149.0,USD
3,7962652,Ares Acquisition Corporation,104002.0,US0003071083,12.0,NaN,Ares Acquisition Corporation does not have sig...,us,1829432.0,USD
4,11820349,Armada Acquisition Corp. I,104002.0,US04208V1035,9.0,NaN,Armada Acquisition Corp. I focuses on effectin...,us,1844817.0,USD

In [34]:
data.isnull().sum()

SimFinId                            0
Company Name                       73
IndustryId                        287
ISIN                             1087
End of financial year (month)      72
Number Employees                  755
Business Summary                  311
Market                              0
CIK                                12
Main Currency                       0
dtype: int64

We have to fill in the unknown company names

In [35]:
data[data['ISIN'].isnull() & data['Company Name'].isnull() & data['CIK'].isnull()]

,SimFinId,Company Name,IndustryId,ISIN,End of financial year (month),Number Employees,Business Summary,Market,CIK,Main Currency
6094,689587,NaN,NaN,NaN,12.0,NaN,NaN,us,NaN,USD

In [ ]:

key = "us-companies"
data = pd.read_csv(f"data/{INPUT_FOLDER}/{key}.csv")
data.info(show_counts=True)