In [2]:
import os
import pandas as pd

In [3]:
INPUT_FOLDER = "preproc"
OUTPUT_FOLDER = "enrich"

In [4]:
os.makedirs("data/enrich", exist_ok=True)

In [5]:
os.listdir('data/preproc/')

['us_shareprices_daily.csv', 'industries.csv', 'us_companies.csv']

In [6]:
key = "us_companies"

data_comp = pd.read_csv(f"data/{INPUT_FOLDER}/{key}.csv")
data_comp.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5013 entries, 0 to 5012
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   SimFinId                       5013 non-null   int64
 1   Company Name                   5013 non-null   object
 2   IndustryId                     5013 non-null   float64
 3   ISIN                           5013 non-null   object
 4   End of financial year (month)  5013 non-null   float64
 5   Number Employees               4709 non-null   float64
 6   Business Summary               5004 non-null   object
 7   Market                         5013 non-null   object
 8   CIK                            5012 non-null   float64
 9   Main Currency                  5013 non-null   object
dtypes: float64(4), int64(1), object(5)
memory usage: 391.8+ KB

In [7]:
data_comp

,SimFinId,Company Name,IndustryId,ISIN,End of financial year (month),Number Employees,Business Summary,Market,CIK,Main Currency
0,45846,AGILENT TECHNOLOGIES INC,106001.0,US00846U1016,10.0,16400.0,Agilent Technologies Inc is engaged in life sc...,us,1090872.0,USD
1,1333027,Li Auto Inc.,0.0,0,12.0,NaN,NaN,us,1791706.0,USD
2,367153,Alcoa Corp,110004.0,US0138721065,12.0,12900.0,Alcoa Corp is an integrated aluminum company. ...,us,1675149.0,USD
3,7962652,Ares Acquisition Corporation,104002.0,US0003071083,12.0,NaN,Ares Acquisition Corporation does not have sig...,us,1829432.0,USD
4,11820349,Armada Acquisition Corp. I,104002.0,US04208V1035,9.0,NaN,Armada Acquisition Corp. I focuses on effectin...,us,1844817.0,USD
...,...,...,...,...,...,...,...,...,...,...
5008,17663788,Zurn Elkay Water Solutions Corporation,100001.0,US98983L1089,12.0,2700.0,Zurn Elkay Water Solutions Corporation designs...,us,1439288.0,USD
5009,1243193,Zymergen Inc.,106002.0,US98985X1000,12.0,758.0,Zymergen is a biofacturing company using biolo...,us,1645842.0,USD
5010,17663790,Zymeworks Inc.,106002.0,CA98985W1023,12.0,291.0,"Zymeworks Inc., a clinical-stage biopharmaceut...",us,1403752.0,USD
5011,901704,"Zynerba Pharmaceuticals, Inc.",106002.0,US98986X1090,12.0,25.0,Zynerba Pharmaceuticals Inc together with its ...,us,1621443.0,USD
5012,171401,ZYNEX INC,106004.0,US98986M1036,12.0,768.0,"Zynex, Inc. engages in the design, manufacture...",us,846475.0,USD

In [8]:
key = "us_shareprices_daily"
data_share = pd.read_csv(f"data/{INPUT_FOLDER}/{key}.csv")
data_share.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5815264 entries, 0 to 5815263
Data columns (total 11 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   Ticker              5815264 non-null  object
 1   SimFinId            5815264 non-null  int64
 2   Date                5815264 non-null  object
 3   Open                5815264 non-null  float64
 4   High                5815264 non-null  float64
 5   Low                 5815264 non-null  float64
 6   Close               5815264 non-null  float64
 7   Adj. Close          5815264 non-null  float64
 8   Volume              5815264 non-null  int64
 9   Dividend            5815264 non-null  float64
 10  Shares Outstanding  5287319 non-null  float64
dtypes: float64(7), int64(2), object(2)
memory usage: 488.0+ MB

In [9]:
key = "industries"
data_industries = pd.read_csv(f"data/{INPUT_FOLDER}/{key}.csv", delimiter=';')
data_industries.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   IndustryId  74 non-null     int64
 1   Industry    74 non-null     object
 2   Sector      74 non-null     object
dtypes: int64(1), object(2)
memory usage: 1.9+ KB

In [10]:
data = data_share.merge(data_comp, on='SimFinId', how='inner')
data = data_industries.merge(data, on='IndustryId', how='inner')
data=data.drop(['IndustryId', 'SimFinId', 'ISIN', 'End of financial year (month)','Market', 'CIK', 'Main Currency','Business Summary','Shares Outstanding', 'Adj. Close','Number Employees'],axis=1)

In [11]:
data['Date'] = pd.to_datetime(data['Date'])

# Set 'Date' as the index
data.set_index('Date', inplace=True)
data.sort_index(inplace=True)

In [12]:
data.head()

,Industry,Sector,Ticker,Open,High,Low,Close,Volume,Dividend,Company Name
Date,,,,,,,,,,
2019-04-11,Industrial Products,Industrials,AAON,29.90,30.27,29.75,30.08,164812,0.0,AAON INC
2019-04-11,REITs,Real Estate,ESRT,15.89,15.94,15.74,15.83,354551,0.0,"Empire State Realty Trust, Inc."
2019-04-11,Banks,Financial Services,HWC,42.81,43.09,42.24,42.59,337095,0.0,HANCOCK WHITNEY CORP
2019-04-11,Banks,Financial Services,IBCP,22.15,22.34,22.05,22.09,45879,0.0,Independent Bank Corporation
2019-04-11,Banks,Financial Services,IBN,11.25,11.25,11.16,11.19,3291052,0.0,ICICI Bank Limited

In [13]:
data.to_csv(f"data/{OUTPUT_FOLDER}/us_shareproce_joined_companies.csv")