In [57]:
import os
import pandas as pd

In [58]:
INPUT_FOLDER = "preproc"
OUTPUT_FOLDER = "enrich"

In [59]:
os.makedirs("data/enrich", exist_ok=True)

In [60]:
os.listdir('data/preproc/')

['us-shareprices-daily.csv', 'us_shareprices_daily.csv', 'us_companies.csv']

In [61]:
key = "us_companies"
df_us_companies = pd.read_csv(f"data/{INPUT_FOLDER}/{key}.csv")
df_us_companies.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5020 entries, 0 to 5019
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   SimFinId                       5020 non-null   int64
 1   Company Name                   5020 non-null   object
 2   IndustryId                     5020 non-null   float64
 3   ISIN                           5020 non-null   object
 4   End of financial year (month)  5020 non-null   float64
 5   Number Employees               5020 non-null   float64
 6   Business Summary               5020 non-null   object
 7   Market                         5020 non-null   object
 8   CIK                            5020 non-null   float64
 9   Main Currency                  5020 non-null   object
dtypes: float64(4), int64(1), object(5)
memory usage: 392.3+ KB

In [62]:
key = "us-shareprices-daily"
df_us_share_price = pd.read_csv(f"data/{INPUT_FOLDER}/{key}.csv", parse_dates=["Date"])
df_us_share_price.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5815913 entries, 0 to 5815912
Data columns (total 11 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   Ticker              5815913 non-null  object
 1   SimFinId            5815913 non-null  int64
 2   Date                5815913 non-null  datetime64[ns]
 3   Open                5815913 non-null  float64
 4   High                5815913 non-null  float64
 5   Low                 5815913 non-null  float64
 6   Close               5815913 non-null  float64
 7   Adj. Close          5815913 non-null  float64
 8   Volume              5815913 non-null  int64
 9   Dividend            5815913 non-null  float64
 10  Shares Outstanding  5815913 non-null  float64
dtypes: datetime64[ns](1), float64(7), int64(2), object(1)
memory usage: 488.1+ MB

In [63]:
df_us_companies.head()

,SimFinId,Company Name,IndustryId,ISIN,End of financial year (month),Number Employees,Business Summary,Market,CIK,Main Currency
0,45846,AGILENT TECHNOLOGIES INC,106001.0,US00846U1016,10.0,16400.0,Agilent Technologies Inc is engaged in life sc...,us,1090872.0,USD
1,1333027,Li Auto Inc.,0.0,0,12.0,0.0,Unknown,us,1791706.0,USD
2,367153,Alcoa Corp,110004.0,US0138721065,12.0,12900.0,Alcoa Corp is an integrated aluminum company. ...,us,1675149.0,USD
3,7962652,Ares Acquisition Corporation,104002.0,US0003071083,12.0,0.0,Ares Acquisition Corporation does not have sig...,us,1829432.0,USD
4,11820349,Armada Acquisition Corp. I,104002.0,US04208V1035,9.0,0.0,Armada Acquisition Corp. I focuses on effectin...,us,1844817.0,USD

In [64]:
df_us_share_price.head()

,Ticker,SimFinId,Date,Open,High,Low,Close,Adj. Close,Volume,Dividend,Shares Outstanding
0,A,45846,2019-04-12,81.43,82.06,80.90,80.98,77.77,1249295,0.0,317515869.0
1,A,45846,2019-04-15,81.00,81.13,79.91,80.40,77.22,1627268,0.0,317515869.0
2,A,45846,2019-04-16,80.82,80.96,77.19,77.55,74.48,3441597,0.0,317515869.0
3,A,45846,2019-04-17,78.15,78.32,74.46,75.43,72.44,4471971,0.0,317515869.0
4,A,45846,2019-04-18,75.73,76.54,75.31,76.17,73.16,2874195,0.0,317515869.0

In [65]:
#check datatypes of share price data
df_us_share_price.dtypes

Ticker                        object
SimFinId                       int64
Date                  datetime64[ns]
Open                         float64
High                         float64
Low                          float64
Close                        float64
Adj. Close                   float64
Volume                         int64
Dividend                     float64
Shares Outstanding           float64
dtype: object

Joining Data

In [66]:
#join df_us_share_price with df_us_companies on SimFinId
df = pd.merge(df_us_share_price, df_us_companies, on="SimFinId", how="left")

In [67]:
df

,Ticker,SimFinId,Date,Open,High,Low,Close,Adj. Close,Volume,Dividend,Shares Outstanding,Company Name,IndustryId,ISIN,End of financial year (month),Number Employees,Business Summary,Market,CIK,Main Currency
0,A,45846,2019-04-12,81.43,82.06,80.90,80.98,77.77,1249295,0.0,317515869.0,AGILENT TECHNOLOGIES INC,106001.0,US00846U1016,10.0,16400.0,Agilent Technologies Inc is engaged in life sc...,us,1090872.0,USD
1,A,45846,2019-04-15,81.00,81.13,79.91,80.40,77.22,1627268,0.0,317515869.0,AGILENT TECHNOLOGIES INC,106001.0,US00846U1016,10.0,16400.0,Agilent Technologies Inc is engaged in life sc...,us,1090872.0,USD
2,A,45846,2019-04-16,80.82,80.96,77.19,77.55,74.48,3441597,0.0,317515869.0,AGILENT TECHNOLOGIES INC,106001.0,US00846U1016,10.0,16400.0,Agilent Technologies Inc is engaged in life sc...,us,1090872.0,USD
3,A,45846,2019-04-17,78.15,78.32,74.46,75.43,72.44,4471971,0.0,317515869.0,AGILENT TECHNOLOGIES INC,106001.0,US00846U1016,10.0,16400.0,Agilent Technologies Inc is engaged in life sc...,us,1090872.0,USD
4,A,45846,2019-04-18,75.73,76.54,75.31,76.17,73.16,2874195,0.0,317515869.0,AGILENT TECHNOLOGIES INC,106001.0,US00846U1016,10.0,16400.0,Agilent Technologies Inc is engaged in life sc...,us,1090872.0,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5815908,ZYXI,171401,2024-03-11,12.83,13.07,12.67,12.69,12.69,150265,0.0,32170182.0,ZYNEX INC,106004.0,US98986M1036,12.0,768.0,"Zynex, Inc. engages in the design, manufacture...",us,846475.0,USD
5815909,ZYXI,171401,2024-03-12,12.69,12.87,12.59,12.60,12.60,151053,0.0,32170182.0,ZYNEX INC,106004.0,US98986M1036,12.0,768.0,"Zynex, Inc. engages in the design, manufacture...",us,846475.0,USD
5815910,ZYXI,171401,2024-03-13,12.57,12.81,12.57,12.69,12.69,89921,0.0,32170182.0,ZYNEX INC,106004.0,US98986M1036,12.0,768.0,"Zynex, Inc. engages in the design, manufacture...",us,846475.0,USD
5815911,ZYXI,171401,2024-03-14,12.69,12.73,12.18,12.19,12.19,313909,0.0,32170182.0,ZYNEX INC,106004.0,US98986M1036,12.0,768.0,"Zynex, Inc. engages in the design, manufacture...",us,846475.0,USD
5815912,ZYXI,171401,2024-03-15,12.16,12.57,12.14,12.55,12.55,235082,0.0,32170182.0,ZYNEX INC,106004.0,US98986M1036,12.0,768.0,"Zynex, Inc. engages in the design, manufacture...",us,846475.0,USD

Create the Target

In [68]:
#the target is the next close price, by company and date
df['target1'] = df.groupby('SimFinId')['Close'].shift(-1)

EDA, To see what should we erase

In [69]:
#Max Shareprice date per stock

max_day_per_stock = df.groupby('SimFinId')['Date'].max().reset_index()

max_day_per_stock.describe()

           SimFinId                           Date
count  5.586000e+03                           5586
mean   6.275479e+06  2023-12-14 09:39:14.887217920
min    1.800000e+01            2019-04-23 00:00:00
25%    6.592065e+05            2024-03-15 00:00:00
50%    1.870196e+06            2024-03-15 00:00:00
75%    1.179525e+07            2024-03-15 00:00:00
max    1.848257e+07            2024-03-15 00:00:00
std    6.175519e+06                            NaN

In [70]:
#stopcks_that_matter = 
stopcks_that_matter = max_day_per_stock[max_day_per_stock['Date'] > '2024-01-01']
stopcks_that_matter = stopcks_that_matter['SimFinId']

In [71]:
#erasing stocks that dont register prices after 2024
df = df[df['SimFinId'].isin(stopcks_that_matter)]

In [72]:
#if the target 1 > close, target 2 = 1, else 0
df['target2'] = (df['target1'] > df['Close']).astype(int)

df.head()

/var/folders/0z/4yrpt4m15ps8kzs2ljkgk40r0000gn/T/ipykernel_1696/3070614137.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['target2'] = (df['target1'] > df['Close']).astype(int)

,Ticker,SimFinId,Date,Open,High,Low,Close,Adj. Close,Volume,Dividend,...,IndustryId,ISIN,End of financial year (month),Number Employees,Business Summary,Market,CIK,Main Currency,target1,target2
0,A,45846,2019-04-12,81.43,82.06,80.90,80.98,77.77,1249295,0.0,...,106001.0,US00846U1016,10.0,16400.0,Agilent Technologies Inc is engaged in life sc...,us,1090872.0,USD,80.40,0
1,A,45846,2019-04-15,81.00,81.13,79.91,80.40,77.22,1627268,0.0,...,106001.0,US00846U1016,10.0,16400.0,Agilent Technologies Inc is engaged in life sc...,us,1090872.0,USD,77.55,0
2,A,45846,2019-04-16,80.82,80.96,77.19,77.55,74.48,3441597,0.0,...,106001.0,US00846U1016,10.0,16400.0,Agilent Technologies Inc is engaged in life sc...,us,1090872.0,USD,75.43,0
3,A,45846,2019-04-17,78.15,78.32,74.46,75.43,72.44,4471971,0.0,...,106001.0,US00846U1016,10.0,16400.0,Agilent Technologies Inc is engaged in life sc...,us,1090872.0,USD,76.17,1
4,A,45846,2019-04-18,75.73,76.54,75.31,76.17,73.16,2874195,0.0,...,106001.0,US00846U1016,10.0,16400.0,Agilent Technologies Inc is engaged in life sc...,us,1090872.0,USD,75.57,0

In [74]:
#Checking Formula is good
df[df['SimFinId'] == 59265].sort_values('Date',ascending=False)

,Ticker,SimFinId,Date,Open,High,Low,Close,Adj. Close,Volume,Dividend,...,IndustryId,ISIN,End of financial year (month),Number Employees,Business Summary,Market,CIK,Main Currency,target1,target2
3457143,MSFT,59265,2024-03-15,419.29,422.60,412.79,416.42,413.29,45079903,0.0,...,101003.0,US5949181045,6.0,166475.0,Microsoft Corp is a technology company. It dev...,us,789019.0,USD,NaN,0
3457142,MSFT,59265,2024-03-14,420.24,427.82,417.99,425.22,422.02,33955263,0.0,...,101003.0,US5949181045,6.0,166475.0,Microsoft Corp is a technology company. It dev...,us,789019.0,USD,416.42,0
3457141,MSFT,59265,2024-03-13,418.10,418.18,411.45,415.10,411.98,16990048,0.0,...,101003.0,US5949181045,6.0,166475.0,Microsoft Corp is a technology company. It dev...,us,789019.0,USD,425.22,1
3457140,MSFT,59265,2024-03-12,407.62,415.57,406.79,415.28,412.16,21563656,0.0,...,101003.0,US5949181045,6.0,166475.0,Microsoft Corp is a technology company. It dev...,us,789019.0,USD,415.10,0
3457139,MSFT,59265,2024-03-11,403.76,405.68,401.26,404.52,401.48,15998511,0.0,...,101003.0,US5949181045,6.0,166475.0,Microsoft Corp is a technology company. It dev...,us,789019.0,USD,415.28,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3455908,MSFT,59265,2019-04-18,122.19,123.52,121.30,123.37,116.53,27990998,0.0,...,101003.0,US5949181045,6.0,166475.0,Microsoft Corp is a technology company. It dev...,us,789019.0,USD,123.76,1
3455907,MSFT,59265,2019-04-17,121.24,121.85,120.54,121.77,115.02,19300938,0.0,...,101003.0,US5949181045,6.0,166475.0,Microsoft Corp is a technology company. It dev...,us,789019.0,USD,123.37,1
3455906,MSFT,59265,2019-04-16,121.64,121.65,120.10,120.77,114.08,14071787,0.0,...,101003.0,US5949181045,6.0,166475.0,Microsoft Corp is a technology company. It dev...,us,789019.0,USD,121.77,1
3455905,MSFT,59265,2019-04-15,120.94,121.58,120.57,121.05,114.34,15792572,0.0,...,101003.0,US5949181045,6.0,166475.0,Microsoft Corp is a technology company. It dev...,us,789019.0,USD,120.77,0
3455904,MSFT,59265,2019-04-12,120.64,120.98,120.37,120.95,114.25,19745143,0.0,...,101003.0,US5949181045,6.0,166475.0,Microsoft Corp is a technology company. It dev...,us,789019.0,USD,121.05,1

In [83]:
data = df[['SimFinId', 'Date', 'Open', 'Low', 'High', 'Close', 'Adj. Close', 'Volume', 'target2']]

data = data.set_index(['SimFinId', 'Date'])
data.head()

                      Open    Low   High  Close  Adj. Close   Volume  target2
SimFinId Date
45846    2019-04-12  81.43  80.90  82.06  80.98       77.77  1249295        0
         2019-04-15  81.00  79.91  81.13  80.40       77.22  1627268        0
         2019-04-16  80.82  77.19  80.96  77.55       74.48  3441597        0
         2019-04-17  78.15  74.46  78.32  75.43       72.44  4471971        1
         2019-04-18  75.73  75.31  76.54  76.17       73.16  2874195        0

In [84]:
data.dtypes

Open          float64
Low           float64
High          float64
Close         float64
Adj. Close    float64
Volume          int64
target2         int64
dtype: object

XG Boost for Target 2 (If price will rise tomorrow)

In [85]:
import pandas as pd
from sklearn.model_selection import train_test_split
import xgboost as xgb
from sklearn.metrics import mean_squared_error

# Assuming 'data' is your DataFrame and 'target' is the column you want to predict
# Prepare the data
X = data.drop(columns=['target2'])
y = data['target2']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train an XGBoost model
model = xgb.XGBRegressor(objective='reg:squarederror', n_estimators=100, learning_rate=0.1, max_depth=5)
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")

Mean Squared Error: 0.23897725343704224

In [89]:
#show me the prediction of data
data['prediction'] = model.predict(X)

In [107]:
data.sample(10)

,,Open,Low,High,Close,Adj. Close,Volume,target2,prediction
SimFinId,Date,,,,,,,,
6767509,2021-08-19,67.95,67.47,68.83,68.55,64.02,124668,1,0.498690
154936,2021-07-13,0.15,0.15,0.15,0.15,0.15,0,0,0.062654
1200989,2022-06-17,2.37,2.37,2.58,2.48,2.48,5664813,1,0.457009
7962928,2021-03-17,22.80,22.65,23.39,23.25,23.25,332477,0,0.494156
714157,2023-12-21,41.46,41.46,42.18,42.11,40.39,487845,1,0.505400
12444297,2022-05-26,9.92,9.92,9.92,9.92,9.92,735,0,0.269931
11035361,2023-11-16,2.73,2.67,2.94,2.70,2.70,12510,1,0.441923
12444457,2020-03-17,10.04,9.01,10.04,9.88,9.48,9954,0,0.462010
778892,2023-03-14,7.73,7.07,7.80,7.21,7.21,2868393,0,0.481197
910154,2023-10-31,12.20,11.72,12.50,12.36,12.36,782,0,0.349399

In [108]:
#threshold
threshold = 0.5
data['prediction_with_threshold'] = (data['prediction'] > threshold).astype(int)

In [109]:
data

                      Open    Low   High  Close  Adj. Close   Volume  target2  \
SimFinId Date
45846    2019-04-12  81.43  80.90  82.06  80.98       77.77  1249295        0
         2019-04-15  81.00  79.91  81.13  80.40       77.22  1627268        0
         2019-04-16  80.82  77.19  80.96  77.55       74.48  3441597        0
         2019-04-17  78.15  74.46  78.32  75.43       72.44  4471971        1
         2019-04-18  75.73  75.31  76.54  76.17       73.16  2874195        0
...                    ...    ...    ...    ...         ...      ...      ...
171401   2024-03-11  12.83  12.67  13.07  12.69       12.69   150265        0
         2024-03-12  12.69  12.59  12.87  12.60       12.60   151053        1
         2024-03-13  12.57  12.57  12.81  12.69       12.69    89921        0
         2024-03-14  12.69  12.18  12.73  12.19       12.19   313909        1
         2024-03-15  12.16  12.14  12.57  12.55       12.55   235082        0

                     prediction  prediction_with_threshold
SimFinId Date
45846    2019-04-12    0.510496                          1
         2019-04-15    0.510733                          1
         2019-04-16    0.507255                          1
         2019-04-17    0.508894                          1
         2019-04-18    0.508894                          1
...                         ...                        ...
171401   2024-03-11    0.485266                          0
         2024-03-12    0.483860                          0
         2024-03-13    0.480754                          0
         2024-03-14    0.487638                          0
         2024-03-15    0.480703                          0

[5342763 rows x 9 columns]