In [96]:
import os
import pandas as pd

In [97]:
INPUT_FOLDER = "preproc"
OUTPUT_FOLDER = "enrich"

In [98]:
os.makedirs("data/enrich", exist_ok=True)

In [99]:
os.listdir('data/preproc/')

['us-shareprices-daily.csv', 'industries.csv', 'us-companies.csv']

In [100]:
key = "us-companies"

data_comp = pd.read_csv(f"data/{INPUT_FOLDER}/{key}.csv")
data_comp.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5091 entries, 0 to 5090
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Ticker                         5090 non-null   object
 1   SimFinId                       5091 non-null   int64
 2   Company Name                   5090 non-null   object
 3   IndustryId                     5091 non-null   float64
 4   ISIN                           5091 non-null   object
 5   End of financial year (month)  5090 non-null   float64
 6   Number Employees               5091 non-null   float64
 7   Business Summary               5091 non-null   object
 8   Market                         5091 non-null   object
 9   CIK                            5091 non-null   float64
 10  Main Currency                  5091 non-null   object
dtypes: float64(4), int64(1), object(6)
memory usage: 437.6+ KB

In [101]:
data_comp

,Ticker,SimFinId,Company Name,IndustryId,ISIN,End of financial year (month),Number Employees,Business Summary,Market,CIK,Main Currency
0,NaN,18538670,NaN,0.0,0,NaN,0.0,Unknown,us,1734107.0,USD
1,A,45846,AGILENT TECHNOLOGIES INC,106001.0,US00846U1016,10.0,16400.0,Agilent Technologies Inc is engaged in life sc...,us,1090872.0,USD
2,AA,367153,Alcoa Corp,110004.0,US0138721065,12.0,12900.0,Alcoa Corp is an integrated aluminum company. ...,us,1675149.0,USD
3,AAC,7962652,Ares Acquisition Corporation,104002.0,US0003071083,12.0,0.0,Ares Acquisition Corporation does not have sig...,us,1829432.0,USD
4,AACI,11820349,Armada Acquisition Corp. I,104002.0,US04208V1035,9.0,0.0,Armada Acquisition Corp. I focuses on effectin...,us,1844817.0,USD
...,...,...,...,...,...,...,...,...,...,...,...
5086,ZWS,17663788,Zurn Elkay Water Solutions Corporation,100001.0,US98983L1089,12.0,2700.0,Zurn Elkay Water Solutions Corporation designs...,us,1439288.0,USD
5087,ZY,1243193,Zymergen Inc.,106002.0,US98985X1000,12.0,758.0,Zymergen is a biofacturing company using biolo...,us,1645842.0,USD
5088,ZYME,17663790,Zymeworks Inc.,106002.0,CA98985W1023,12.0,291.0,"Zymeworks Inc., a clinical-stage biopharmaceut...",us,1403752.0,USD
5089,ZYNE,901704,"Zynerba Pharmaceuticals, Inc.",106002.0,US98986X1090,12.0,25.0,Zynerba Pharmaceuticals Inc together with its ...,us,1621443.0,USD
5090,ZYXI,171401,ZYNEX INC,106004.0,US98986M1036,12.0,768.0,"Zynex, Inc. engages in the design, manufacture...",us,846475.0,USD

In [102]:
key = "us-shareprices-daily"
data_share = pd.read_csv(f"data/{INPUT_FOLDER}/{key}.csv")
data_share.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5898046 entries, 0 to 5898045
Data columns (total 11 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   Ticker              5898046 non-null  object
 1   SimFinId            5898046 non-null  int64
 2   Date                5898046 non-null  object
 3   Open                5898046 non-null  float64
 4   High                5898046 non-null  float64
 5   Low                 5898046 non-null  float64
 6   Close               5898046 non-null  float64
 7   Adj. Close          5898046 non-null  float64
 8   Volume              5898046 non-null  int64
 9   Dividend            5898046 non-null  float64
 10  Shares Outstanding  5898046 non-null  float64
dtypes: float64(7), int64(2), object(2)
memory usage: 495.0+ MB

In [103]:
key = "industries"
data_industries = pd.read_csv(f"data/{INPUT_FOLDER}/{key}.csv")
data_industries.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   IndustryId  74 non-null     int64
 1   Industry    74 non-null     object
 2   Sector      74 non-null     object
dtypes: int64(1), object(2)
memory usage: 1.9+ KB

In [104]:
data = data_share.merge(data_comp, on='SimFinId', how='inner')
data = data_industries.merge(data, on='IndustryId', how='inner')
data=data.drop(['IndustryId', 'SimFinId', 'ISIN', 'End of financial year (month)','Market', 'CIK', 'Main Currency','Business Summary','Shares Outstanding', 'Adj. Close','Number Employees'],axis=1)

In [105]:
data['Date'] = pd.to_datetime(data['Date'])

# Set 'Date' as the index
data.set_index('Date', inplace=True)
data.sort_index(inplace=True)

In [106]:
data.head()

,Industry,Sector,Ticker_x,Open,High,Low,Close,Volume,Dividend,Ticker_y,Company Name
Date,,,,,,,,,,,
2019-04-29,Industrial Products,Industrials,AAON,33.01,33.70,33.01,33.39,169654,0.0,AAON,AAON INC
2019-04-29,Consulting & Outsourcing,Industrials,ALTG,9.70,9.70,9.70,9.70,0,0.0,ALTG,Alta Equipment Group Inc.
2019-04-29,Retail - Defensive,Consumer Defensive,CVGW,94.80,95.10,93.51,94.86,66884,0.0,CVGW,"Calavo Growers, Inc."
2019-04-29,Application Software,Technology,USIO,2.45,2.46,2.42,2.45,21793,0.0,USIO,"Usio, Inc."
2019-04-29,Forest Products,Basic Materials,EVA,32.70,33.48,32.48,33.08,38304,0.0,EVA,"Enviva Partners, LP"

In [107]:
data=data.drop("Ticker_y",axis=1)

In [108]:
data.head()

,Industry,Sector,Ticker_x,Open,High,Low,Close,Volume,Dividend,Company Name
Date,,,,,,,,,,
2019-04-29,Industrial Products,Industrials,AAON,33.01,33.70,33.01,33.39,169654,0.0,AAON INC
2019-04-29,Consulting & Outsourcing,Industrials,ALTG,9.70,9.70,9.70,9.70,0,0.0,Alta Equipment Group Inc.
2019-04-29,Retail - Defensive,Consumer Defensive,CVGW,94.80,95.10,93.51,94.86,66884,0.0,"Calavo Growers, Inc."
2019-04-29,Application Software,Technology,USIO,2.45,2.46,2.42,2.45,21793,0.0,"Usio, Inc."
2019-04-29,Forest Products,Basic Materials,EVA,32.70,33.48,32.48,33.08,38304,0.0,"Enviva Partners, LP"

In [109]:
data.rename(columns={"Ticker_x": "Ticker"}, inplace=True)

In [110]:
data.head()

,Industry,Sector,Ticker,Open,High,Low,Close,Volume,Dividend,Company Name
Date,,,,,,,,,,
2019-04-29,Industrial Products,Industrials,AAON,33.01,33.70,33.01,33.39,169654,0.0,AAON INC
2019-04-29,Consulting & Outsourcing,Industrials,ALTG,9.70,9.70,9.70,9.70,0,0.0,Alta Equipment Group Inc.
2019-04-29,Retail - Defensive,Consumer Defensive,CVGW,94.80,95.10,93.51,94.86,66884,0.0,"Calavo Growers, Inc."
2019-04-29,Application Software,Technology,USIO,2.45,2.46,2.42,2.45,21793,0.0,"Usio, Inc."
2019-04-29,Forest Products,Basic Materials,EVA,32.70,33.48,32.48,33.08,38304,0.0,"Enviva Partners, LP"

In [111]:
data.to_csv(f"data/{OUTPUT_FOLDER}/us_shareproce_joined_companies.csv")